<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <arg name="use_rviz" default="true"/>
  <arg name="publish_path" default="true" />
   
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
    <param name="filter_config" value="$(find rovio)/cfg/subt_X3_vga_rgbd.info"/>
    <param name="camera0_config" value="$(find rovio)/cfg/subt_vga_rgbd.yaml"/>
    <param name="world_frame" value="/map" />
    <param name="imu_frame" value="rovio" />
    
    <remap from="cam0/image_raw" to="front/image_raw" />
    <remap from="imu0" to="imu/data" />
  </node>
  
  <group if="$(arg use_rviz)">
    <node pkg="rviz" type="rviz" name="subt_rviz" args="-d $(find rovio)/cfg/subt_rovio.rviz" />
  </group>
  
  <!-- Use hector_trajectory_server to publish the path -->
  <group if="$(arg publish_path)">
    <include file="$(find hector_trajectory_server)/launch/hector_traj_server.launch">
      <arg name="trajectory_target_frame_name" default="/map" />
      <arg name="trajectory_source_frame_name" default="rovio" />
    </include>
  </group>
  
</launch>
